* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  

body {
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 3px;
    padding: 20px;
}

.answer-btn {
    display: grid;
    padding: 20px;
    margin: 50px 0;
}

.btn {
    background-color: darkmagenta;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    border: 2px solid magenta;
}

.btn:hover {
    background-color: lightpink;
    color: black;
}

.hide {
    display: none;
}
